* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden!important;
}


#main {
    position: relative;
}




/* Order Call modal Div Styling Goes here */
#order-call-modal-div {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #fff!important;
    top: -10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 9999;
    transition: all .8s ease-in-out;
}

#order-call-modal-div .close-order-call-modal-div {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

#order-call-modal-div .container .row .col-md-6 .social-icons  a {
    padding: 12px 20px;
    text-decoration: none;
    color: black;
    font-size: 36px;
}

#order-call-modal-div .close-order-call-modal-div span {
    font-size: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: unset;
}
/* Order Call modal Div Styling Ends here */






/* Container-Fluid Sticky Navbar Goes Here */
.container-fluid {
    padding: 20px;
    color: white;
}

.container-fluid .row a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container-fluid .container .row .social-icons  a {
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    font-size: 26px;
}

.container-fluid .container .row .sticky-top-logo {
    margin-top: auto;
    margin-bottom: auto!important;
    font-size: 2.3rem;
}
/* Container-Fluid Sticky Navbar Ends Here */


/* Navbar Styling Goes Here */
nav {
    position: relative;
}
nav::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 5px;
    background: #34a1eb;
    width: 100%;
    left: 0;
}
/* Navbar Styling Ends Here */



/* Hero Section Styling Goes Here */
#hero {
    position: relative;
    color: white;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #343a40;
    clip-path: polygon(0 0, 75% 0%, 50% 100%, 0% 100%);
    border-bottom: 8px solid #34a1eb;
}

#hero .container {
    padding: 20px;
}

#hero .container .row .col-md-6.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .container .row .col-md-6.display-flex .col-md-12 h1,
#hero .container .row .col-md-6.display-flex .col-md-12 p,
#hero .container .row .col-md-6.display-flex .col-md-12 a {
    margin-top: 10px;
}

#hero .container .row .col-md-6.display-flex .col-md-12 a {
    padding-right: 20px;
    padding-left: 20px;
}

#hero .container .row .col-md-6 .carousel .carousel-inner .carousel-item {
    background: #343a40;
    background: linear-gradient(to bottom, #343a40 35%, #34a1eb);
    border-radius: 50%;
}
/* Hero Section Styling Ends Here */



/* About Section Styling Goes Here */
#about {

}

#about .container {
    padding: 20px;
}
/* About Section Styling Ends Here */



/* Services Section Styling Goes Here */
#services {

}

#services .container {
    padding: 20px;
}

#services .container .row .col-md-6.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Services Section Styling Ends Here */




/* Link Section Styling Goes Here */
#link {

}

#link .container {
    padding: 20px;
    color: white;
}

#link .container .row .col-md-12 h1 {
    margin-bottom: 10px;
}

#link .container .row .col-md-12 a {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 15px;
    box-shadow: 1px 1px 12px 0 #fff,
                0 6px 20px 0 #fff;
}
/* Link Section Styling Ends Here */




/* Blog Section Styling Goes Here */
#blog {

}

#blog .container {
    padding: 20px;
}
/* Blog Section Styling Ends Here */




/* Contacts Section Styling Goes here */
#contacts {
    width: 100%;
}

#contacts .container {
    padding: 20px;
}

#contacts .container .row .col-md-6.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts .container .row .col-md-6 form .form-group textarea {
    width: 100%;
    height: 250px;
}

#contacts .container .row .col-md-6 form .btn-dark {
    width: 100%;
}
/* Contacts Section Styling Ends here */





/* Footer Section Styling Goes Here */
#footer {
    width: 100%;
}

#footer .container {
    color: white;
    padding: 20px;
}

#footer .container .row .col-md-3 h5 {
    color: #34a1eb;
}

#footer .container .row .col-md-3 .footer-un-ordered-list {
    list-style: none;
}

#footer .container .row .col-md-3 .footer-un-ordered-list .footer-list-item {

}

#footer .container .row .col-md-3 .footer-un-ordered-list .footer-list-item .footer-link {
    text-decoration: none;
    color: white;
}

#footer .container .row .social-icons  a {
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    font-size: 26px;
}
/* Footer Section Styling Ends Here */




/* Constants Variables Goes Here */
p {
    margin-bottom: 0!important;
    margin-top: 0!important;
    margin-right: 0!important;
    margin-left: 0!important;
}

.btn-dark {
    box-shadow: 1px 1px 12px 0 #34a1eb,
                0 6px 20px 0 #34a1eb;
    background: #34a1eb;
    outline: 0;
    border: 0;
    user-select: none;
}

.col-md-4 {
    margin-bottom: 15px;
}

.content-header {

}

.content-header ul {
    list-style: none;
    display: flex;
}

.content-header ul li.ul-line {
    width: 200px;
    height: 3px;
    background: black;
    margin-top: auto;
    margin-bottom: auto;
}

.content-header ul li h1 {
    margin-right: 5px;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .content-header ul {
        display: block;
    }
    #hero::before {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}
/* Constants Variables Goes Here */




/*  All Animations Goes Here */
#services .container .row .col-md-6.img-col {
    border-radius: 50%;
    background: #343a40;
    /*background: linear-gradient(to bottom, #343a40 35%, #34a1eb);*/
}

#services .container .row .col-md-6.img-col img {
    border-radius: unset;
    transition: all .3s ease-in-out;
    animation: rotateLeftToRight 20s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes rotateLeftToRight {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(180deg);
    }
}

/*  All Animations Ends Here */





/* Loading Process Styling Goes Here */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #343a40;
    z-index: 99999;
}

#loader-wrapper #loader {
    position: relative;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border-bottom: 4px solid #34a1eb;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader-wrapper #loader::after {
    content: '';
    position: absolute;
    height: 160px;
    width: 160px;
    border-top: 4px solid red;
    top: -8px;
    left: -8px;
    border-radius: 50%;
}

#loader-wrapper #loader::before {
    content: '';
    position: absolute;
    height: 170px;
    width: 170px;
    border-left: 4px solid white;
    top: -13px;
    left: -13px;
    border-radius: 50%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Loading Process Styling Ends Here */
